/* CategoryPage.css */
.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .pagination ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    padding: 8px;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button.active {
    background-color: #ccc;
  }
  