
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif; 
}
.footer-item {
  display: flex;
  align-items: center;
  text-align: left;
}

.footer-item img {
  width: 50px; 
  margin-right: 10px;
}

.footer-item div {
  display: flex;
  flex-direction: column;
}

.footer-item strong {
  font-size: 1em; 
}

.footer-item p {
  font-size: 0.8em;
  margin: 0;
}
