
.store-footer{
    border-top: 2px solid #E5E5E5;
    font-size: 1.5;
  }
  .footer-title {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .footer-location li{
    list-style-type: none;
    color: #9F9F9F;
    font-weight: 300;
  }
  
  footer hr{
    border: 1px solid #E5E5E5;
    margin: 1rem 0;
  }
  
  
  @media (max-width: 768px) {
    .store-footer{
      font-size: 0.8em;
    }
    .footer-title {
      font-weight: 600;
      font-size: 1rem;
    }
  
  
  }