.categories-bar {
    background-color: #89b0ae;
    width: 100%;
    text-align: center; 
    position: fixed;
    top: 11%;  
    z-index: 20; 
    height: 6%;  
}


.categories-bar li {
    list-style-type: none;
    display: inline;
    padding: 6%;
    font-size: small;
}

.category {
    cursor: pointer;
}

.category-css {
    color: white;
    font-weight: 505;
    text-decoration: none;
}

.category-css:hover {
    color: #555B6E;
}

@media (max-width: 768px) {
    .categories-bar{
        display:none;
    }
}
