.categories-bar {
    background-color: #89b0ae;
    width: 100%;
    text-align: center; 
    position: fixed;
    top: 11%;  /* Set this based on the height of your Navbar */
    z-index: 20;  /* Below the Navbar */
    height: 6%;  /* Example fixed height; adjust as needed */
}


.categories-bar li {
    list-style-type: none;
    display: inline;
    padding: 6%;
    font-size: small;
}

.category {
    cursor: pointer;
}

.category-css {
    color: white;
    font-weight: 505;
    text-decoration: none; /* Optional: removes underline from links */
}

.category-css:hover {
    color: #555B6E; /* Change to blue on hover, you can choose any shade of blue */
}

@media (max-width: 768px) {
    .categories-bar{
        display:none;
    }
}
