
.store-footer{
  border-top: 2px solid #E5E5E5;
  font-size: 0.8em;
}
.footer-title {
  font-weight: 600;
  font-size: 1rem;
}

.footer-location li{
  list-style-type: none;
  color: #9F9F9F;
  font-weight: 300;
}

footer hr{
  border: 1px solid #E5E5E5;
  margin: 1rem 0;
}