.filter-container {
    position: relative;
    display: inline-block;
}

.filter-button {
    padding: 8px 16px;
    background-color: #89B0AE;
    border: none;
    color: white;
    cursor: pointer;
}

.filter-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
    transition: opacity 0.2s, visibility 0.2s;
}

.filter-button:hover + .filter-dropdown,
.filter-dropdown:hover {
    opacity: 1;
    visibility: visible;
}